

.fade-in{
    opacity: 0;
  }
  .fade-in.appear{
    opacity: 1;
    animation-duration: 1s;
    animation-name: fadeInBottom;
  }
  @keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to { opacity: 1 }
  }
.Image1{
    position: relative;
}
.Top{
    position: absolute;
    top: 50%;
    left: 25%;
    bottom: 15%;

}
.Top1{
    font-size: 40px;
    color: white;
    font-weight: 700;
}
.Top2{
    font-size: 30px;
    color: white;
}

.separator-line {
    height: 2px;
    margin: 0 auto;
    width: 30px;
    margin: 7% auto;
}

  /* ......> */
  .Listitems li{
    font-size: 12px;
    padding-left: 8%;
  }
  


  #exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0 ;
    
  }
  
  #exTab3 .tab-content {
    color : rgb(10, 10, 10);
  
    padding : 5px 15px;
  }



.content{
    display: none;
    padding-left: 4%;
    padding-top: 10%;
    
}

.show-content{
    display: block;
    
}

.List1{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}



.Blog{
    background-color: #000000;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 24px;
    padding-right: 24px;
}
.Blog:hover{
    background-color: white;
    color: #000000;
    border: 2px solid black;
}

.Adope:hover{
    opacity: 0.5;
}
.Commerce:hover{
    opacity: 0.5;
}
.Shopping:hover{
    opacity: 0.5;
}


.Phone{
    display: flex;
    flex-direction: row;
    height: 70vh;
   background-color: '#F6F6F6';
}


.list{
    font-size: 16px;
    font-weight: 300;
    color: #7e7e7e;
    line-height: inherit;
}


.Project {
    position: relative;
   
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: ease-in 300ms;
    color: black;
    background-color: #FFFFFF;
   
  }
  
  .Project:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: black;
    font-size: 12px;
    position: absolute;
    top: 35%;
    left: 20%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

@media only screen and (max-width: 600px) {
    .container{
        display: flex;
        flex-direction: column;
    }
  
    .Top1{
        font-size: 20px;
        color: white;
        font-weight: 700;
    }
    .Top2{
        font-size: 20px;
        color: white;
    }
   
    .Phone{
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    
    
  }
 